.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px; /* menor para telas padrão */
  z-index: 1000;
  text-decoration: none;
}

/* Ajuste para telas menores */
@media (max-width: 600px) {
  .whatsapp-button {
    right: 10px; /* ainda menor para telas pequenas */
    bottom: 10px;
  }
}
